{%- if include.taxonomy == 'Kubernetes' -%}
  {%- assign order_data = site.data.kubernetes-order.order -%}
  {%- assign all_posts = site.categories[include.taxonomy] -%}
  {%- assign sorted_posts = '' | split: '' -%}
  {%- assign used_posts = '' | split: '' -%}
  
  {%- comment -%} 순서 파일에 정의된 순서대로 포스트 추가 {%- endcomment -%}
  {%- for slug in order_data -%}
    {%- for post in all_posts -%}
      {%- if post.id == slug -%}
        {%- assign sorted_posts = sorted_posts | push: post -%}
        {%- assign used_posts = used_posts | push: post.id -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
  
  {%- comment -%} 순서 파일에 없는 포스트는 날짜 순서로 뒤에 추가 {%- endcomment -%}
  {%- for post in all_posts -%}
    {%- unless used_posts contains post.id -%}
      {%- assign sorted_posts = sorted_posts | push: post -%}
    {%- endunless -%}
  {%- endfor -%}
{%- else -%}
  {%- assign sorted_posts = site.categories[include.taxonomy] -%}
{%- endif -%}
{%- for post in sorted_posts -%}
  {% include archive-single.html %}
{%- endfor -%}
